body {
  margin: 0;
}
nav {
  white-space: nowrap;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 10px;
}
nav li {
  width: 25%;
  display: inline-block;
}
nav li a {
  text-decoration: none;
  color: black;
}
nav li a:hover {
  text-decoration: underline;
}
.img {
  width: 100px;  
}


.showcase {
  background: url('/public/images/car.jpeg') center/cover;
  height: 40vh;
  padding: 10px;
  color: white;
 }
.topic-showcase {
  background-color: red;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}
.btn {
 border: none; 
background-color:firebrick;  
color: white;
}
.btn:hover {
 opacity: .9; 
}

@media (min-width:600px) {
.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  gap: 20px;
  background-color: lightgray;
}}

.art {
  padding: 50px;
  background-color: white;  
}

.car {
  padding: 50px;
  background-color: white;
  background-color: red;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.book {
  padding: 50px;
  background-color: white;
  background-color: green;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.gym {
  padding: 50px;
  background-color: white;
  background-color: orange;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.seahawks {
  padding: 50px;
  background-color: white;
  background-color: blue;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.space {
  padding: 50px;
  background-color: white;
  background-color: purple;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


.food {
  padding: 50px;
  background-color: white;
  background-color:hotpink;
  color: white;
  font-size: 9px;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 20px;
}


@media (min-width:600px) {
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr; 
  gap: 24px;
  background-color: gray;
  color: white;
  padding: 32px;
}}
.second {
  padding: 8px;
  margin-bottom: 8px;
}

.third:hover {
  color: red;
}

